@font-face {
  font-family: "brandon-grotesque-black";
  src: url(./fonts/Brandon/brandon-grotesque-black-58a8a3e824392-webfont.woff2)
    format("woff2");
}
@font-face {
  font-family: "brandon-grotesque-light";
  src: url(./fonts/Brandon/brandon-grotesque-light-58a8a4b38001d-webfont.woff2)
    format("woff2");
}
@font-face {
  font-family: "futura-pt";

  src: url(./fonts/Futura/FuturaPTLight.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 15.4rem 8rem auto;
}
aside {
  float: left;
  width: 33.33%;
}
section {
  float: right;
  width: 66.66%;
}
section > h1 {
  font-family: "brandon-grotesque-black";
  font-size: 51px;
  letter-spacing: 0.29em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color: #1d1d1d;
}
section > p {
  font-family: "brandon-grotesque-light";
}
section > p:first-of-type {
  margin: 38px auto;
  width: fit-content;
  font-family: "futura-pt";
  color: #4b4b4b;
  font-weight: bold;
  font-size: 1.27rem;
  line-height: 35px;
  letter-spacing: 1px;
}
footer {
  margin-top: 15rem;
}
.social-links {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.social-links > a {
  border: none;
}
i {
  color: #222222;
  margin: 0.35rem;
  transform: scale(1.15);
}
a {
  color: #2c2c2c;
  letter-spacing: 0.29rem;
  text-transform: uppercase;
  font-family: "futura-pt";
  text-decoration: none;
  letter-spacing: 0.29rem;
}
.info-links a {
  border-bottom: 1px solid #4b4b4b;
}
.info-links h3 {
  font-size: smaller;
  color: #2c2c2c;
  letter-spacing: 0.29rem;
  text-transform: uppercase;
  font-family: "futura-pt";
  font-weight: lighter;
  padding: 2px;
  text-decoration: none;
}
